.meeting-list-page h1 {
    color: var(--mint-cream);
    margin-bottom: 1rem;
    /* margin: 1rem 0; */
}

.meeting-list-page .meeting-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
