.meeting-card {
    background-color: var(--royal-gold);
    padding: 1rem;
    border-top: 1px solid var(--mint-cream);
    box-shadow: 0 3px 3px var(--prussian-blue);
    border-radius: 0.5rem;
}

.meeting-card.clickable {
    cursor: pointer;
    transition: all 0.2s;
}

.meeting-card.clickable:hover {
    transform: translateY(-4px);
    box-shadow: 0 7px 3px var(--prussian-blue);
}

.meeting-card .meeting-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.meeting-card .meeting-row p {
    background-color: var(--mint-cream);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.meeting-card .notes {
    background-color: var(--mint-cream);
    padding: 1rem;
    border-radius: 0.5rem;
}

.meeting-card .delete-btn {
    background-color: var(--watermelon);
    color: var(--mint-cream);
    font-weight: bold;
    border: none;
    margin-left: auto;
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--mint-cream);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.meeting-card .delete-btn:hover {
    box-shadow: 0 3px 3px var(--prussian-blue);
}
